* {
    user-select: none;
}

body{
    font-size: 17px;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    background: radial-gradient(#FFFAE6,#002379);
    background-size: 200% 200%;
    animation: radial 10s ease-in-out infinite;
}

.container{
    color: #0B192C;
    width: 40rem;
    margin: 8rem 0rem 8rem 0rem;
    background-color: white;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
    background: rgba(0, 35, 121, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(0, 35, 121, 0.15);
}

.header-text{
    text-decoration: solid;
    font-size: 3rem;
    text-align: center;
    margin-top: 3.2rem;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}
#username{
    width: 330px;
    padding-left: 33px;
    padding-right: 33px;
    height: 75px;
    margin-top: 0.8rem;
    font-size: 22px;
    border: 0;   
    background-size: 25px;
    background-blend-mode: difference;
    font-family: "Poppins";
    transition: background-color 0.7s;
    background: rgba(0, 35, 121, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(0, 35, 121, 0.15);
}
#username:focus{
    border: 0;
    outline: 0;
    background-color: rgba(8, 22, 56, 0.2);
}

#username::placeholder{
    color: #0B192C;
    opacity: 0.3;
}
#password{
    width: 330px;
    height: 75px;
    padding-left: 33px;
    padding-right: 33px;
    margin-top: 0.8rem;
    font-size: 22px;
    border: 0;
    background-size: 25px;
    background-blend-mode: difference;
    font-family: "Poppins";
    transition: background-color 0.7s;
    background: rgba(0, 35, 121, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(0, 35, 121, 0.15);
}
#password:focus{
    border: 0;
    outline: 0;
    background-color: rgba(8, 22, 56, 0.2);
}
#password::placeholder{
    color: #0B192C;
    opacity: 0.3;
}

.check-box{
    display: flex;
    align-items: center;
}

.check-box label {
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.check-box input[type='checkbox']{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.check-box label::before{
    content: '';
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    background: rgba(0, 35, 121, 0.05);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(0, 35, 121, 0.15);
}

.check-box label:hover::before,
.check-box input[type='checkbox']:hover + label::before {
    background-color: rgba(0, 0, 0, 0.2);
}

.check-box input[type='checkbox']:checked + label::before {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#show-password{
    width: 20px;
    height: 20px;
    outline: none;
    border-radius: 6px;
}

.login-btn{
    width: 330px;
    height: 75px;
    margin-top: 105px;
    font-size: 30px;
    color: #0B192C;
    border: 0;
    outline: 0;
    font-family: "Poppins";
    transition: background-color 0.7s;
    background: rgba(0, 35, 121, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(0, 35, 121, 0.15);
}
.login-btn:hover{
    cursor:pointer;
    background-color: rgba(8, 22, 56, 0.2);
}

@keyframes radial {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}